* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha os itens no centro verticalmente */
}

header {
    background-color: rgb(228, 48, 222);
    padding: 20px;
}

header nav {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img {
    width: 200px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha os itens no centro verticalmente */
}

article {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 100%; /* Garante que o artigo ocupe toda a largura */
}

article img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

article h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

article p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
}

footer {
    background-color: rgb(228, 48, 222);
    color: white;
    padding: 20px;
}