body {
    font-family: Arial, sans-serif; 
    background-color: #f7f7f7; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}
nav img{
    height: 100px;
}
nav {
    background-color: #444;
    color: white;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: lightgray; 
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

a {
    color: #007bff; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}