* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui;
}

.branco{
    color: white;
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: rgb(228, 48, 222);
    padding: 10px;
}

header nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav h1 {
    text-align: center;
    padding: 10px;
    color: #333;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    display: flex;
    padding-bottom: 10px;
}

nav li {
    margin: 0 20px;
}

nav a, a:visited{
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    font-weight: bold;
}

ul a:hover{
    background-color: white;
    color:rgb(228, 48, 222);
}

/* ==========  CONTEÚDO  =============*/
main {
    background-color: #f0f0f0;
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

section {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.intro {
    background-color: #e0e0e0;
}
.intro p{
    padding-bottom: 20px;
}

.service {
    background-color: rgb(0, 0, 0);
    color: white;
}

h1, h2 {
    font-family: 'Times New Roman', serif;
    color: #333;
    padding-bottom: 20px;
}

ul {
    list-style-type: none;
}

.tool {
    text-align: center;
}

.tool h2 {
    margin-bottom: 10px;
}

.tool div {
    display: flex;
    justify-content: space-around;
}

.tool img {
    max-width: 300px;
    height: auto;
    margin: 0 10px;
    flex-shrink: 0;
}
/* ===================          RODAPÉ            =============*/
footer {
    background-color: rgb(228, 48, 222);
    color: white;
    padding: 20px;
    text-align: center;
}
.rodape {
display: flex;
    flex-direction: column;
    align-items: center;
}
.rodape img {
    max-width: 100px;
    margin-bottom: 10px;
}
.rodape p {
    margin-bottom: 10px;
}
.rodape h3 {
    margin-bottom: 10px;
}
.rodape a {
    text-decoration: none;
    color: white;
    padding: 5px;
}